# Baseline Forecast

In [1]:
import sys
sys.path.append('/Users/nayeongkim/Desktop/HKweather/')
print(sys.path)
import pandas as pd
from functions.eval import evaluate_performance
from functions import ts_utils

['/Users/nayeongkim/miniconda3/envs/HKweather/lib/python313.zip', '/Users/nayeongkim/miniconda3/envs/HKweather/lib/python3.13', '/Users/nayeongkim/miniconda3/envs/HKweather/lib/python3.13/lib-dynload', '', '/Users/nayeongkim/miniconda3/envs/HKweather/lib/python3.13/site-packages', '/Users/nayeongkim/Desktop/HKweather/']

/Users/nayeongkim/miniconda3/envs/HKweather/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
daily_temp_train = pd.read_parquet("../0_Data/wrangled/daily_temp_train.parquet")
daily_temp_val = pd.read_parquet("../0_Data/wrangled/daily_temp_val.parquet")
daily_temp_test = pd.read_parquet("../0_Data/wrangled/daily_temp_test.parquet")

In [3]:
# Data Frequency setting
freq = "D" # daily frequency (not even the business day frequency)

In [4]:
daily_temp_train.reset_index(inplace = True)
daily_temp_test.reset_index(inplace = True)
daily_temp_val.reset_index(inplace = True)

In [18]:
daily_temp_train.rename(columns = {'Date':'ds'}, inplace = True)
daily_temp_test.rename(columns = {'Date':'ds'}, inplace = True)
daily_temp_val.rename(columns = {'Date':'ds'}, inplace = True)

In [19]:
pred_df = pd.concat([daily_temp_train, daily_temp_val])

In [20]:
from statsforecast import StatsForecast
from utilsforecast.evaluation import evaluate
from statsforecast.models import (
    Naive,
    SeasonalNaive,
    HistoricAverage,
    WindowAverage,
    SeasonalWindowAverage,
    RandomWalkWithDrift,
    HoltWinters,
    #ETS,
    AutoETS,
    AutoARIMA,
    ARIMA,
    AutoTheta,
    DynamicTheta,
    DynamicOptimizedTheta,
    Theta,
    OptimizedTheta,
    TBATS,
    AutoTBATS,
    MSTL
)

In [21]:
daily_temp_train

             ds          y  unique_id
0    2015-01-01  20.161111        1.0
1    2015-01-02  17.941667        1.0
2    2015-01-03  19.447222        1.0
3    2015-01-04  21.361111        1.0
4    2015-01-05  21.580556        1.0
...         ...        ...        ...
3648 2024-12-27  21.005405        1.0
3649 2024-12-28  19.089189        1.0
3650 2024-12-29  18.137838        1.0
3651 2024-12-30  22.337838        1.0
3652 2024-12-31  23.454054        1.0

[3653 rows x 3 columns]

In [24]:
from functions.ts_utils import mase, mae, mse, forecast_bias

metrics = pd.DataFrame()

results, metrics = evaluate_performance(
    ts_train=daily_temp_train, 
    ts_test=daily_temp_val, 
    models=[Naive()], 
    metrics=[mase, mae, mse, forecast_bias], 
    freq=freq,
    level=[],  # Ensure this is correct or adjust as necessary
    id_col='unique_id',
    time_col='ds',
    target_col='y',
    h=len(daily_temp_val),
    metric_df=metrics  # Pass None or an existing DataFrame if you want to append results
)

In [25]:
metrics

,mase,mae,mse,forecast_bias,unique_id,Time Elapsed,Model
0,2.084903,3.269069,13.360226,-16.195549,1.0,0 days 00:00:00.003982,Naive

In [27]:
results

           ds          y  unique_id      Naive
0  2025-01-01  18.405405        1.0  23.454054
1  2025-01-02  22.029730        1.0  23.454054
2  2025-01-03  21.448649        1.0  23.454054
3  2025-01-04  20.354054        1.0  23.454054
4  2025-01-05  22.477778        1.0  23.454054
5  2025-01-06  22.300000        1.0  23.454054
6  2025-01-07  19.862162        1.0  23.454054
7  2025-01-08  21.464865        1.0  23.454054
8  2025-01-09  21.116216        1.0  23.454054
9  2025-01-10  17.316216        1.0  23.454054
10 2025-01-11  16.894595        1.0  23.454054
11 2025-01-12  19.213514        1.0  23.454054
12 2025-01-13  19.851351        1.0  23.454054
13 2025-01-14  20.605405        1.0  23.454054
14 2025-01-15  22.829730        1.0  23.454054
15 2025-01-16  19.516216        1.0  23.454054
16 2025-01-17  19.037838        1.0  23.454054
17 2025-01-18  20.321622        1.0  23.454054
18 2025-01-19  22.283784        1.0  23.454054
19 2025-01-20  21.770270        1.0  23.454054
20 2025-01-21  20.518919        1.0  23.454054
21 2025-01-22  20.916216        1.0  23.454054
22 2025-01-23  21.040541        1.0  23.454054
23 2025-01-24  21.005405        1.0  23.454054
24 2025-01-25  20.191892        1.0  23.454054
25 2025-01-26  16.494595        1.0  23.454054
26 2025-01-27  17.654054        1.0  23.454054
27 2025-01-28  19.462162        1.0  23.454054
28 2025-01-29  18.716216        1.0  23.454054
29 2025-01-30  19.432432        1.0  23.454054
30 2025-01-31  21.202703        1.0  23.454054